DATA_ROOT=./DATA_ROOT
POLYGON_API_KEY=
LOG_LEVEL=INFO
MASSIVE_ACCESS_KEY=
MASSIVE_SECRET_KEY=
MASSIVE_S3_ENDPOINT=https://files.massive.com
MASSIVE_S3_BUCKET=flatfiles
MASSIVE_S3_PREFIX=us_stocks_sip/day_aggs_v1
# For minute bars use: us_stocks_sip/minute_aggs_v1
